<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santi: Dream Analysis</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <script src="/app.js"></script>

</head>
<body>
<div class ="hero" style="background-image: url('images/new.png');">
 <header>
    <img src="images/logo.png" alt="Santi Logo" class="logo">
  </header>
  <div class="header-text">
    <h1>What did you dream?</h1>
  </div>
</div>
   <section class="dream-input">
        <Input input type="search" placeholder="In as much detail as possible, including images and feelings throughout..." class="dream-search"> 
    </section>

        <section class="dream-analysis">
            <div class="themes">
                <h2>Themes and Symbols</h2>
                <p class ="themes"> Understanding the unconscious mind's narratives, emotions, and inner conflicts. Tiny elements of your dreams can contain a lot of information.</p>
            </div>

            <div class="interpretations">
                <h2>Interpretations</h2>
                <p class ="themes interpretation-reason"> Multiple perspectives can help reveal a range of underlying thoughts and emotions.</p>
                <div class="interpretation freud">
                    <h3>Sigmund Freud</h3>
                    <p>Freud saw dreams as a window to the unconscious and unfulfilled desires, revealing desires and conflicts through symbolic meanings.</p>
                </div>
                <div class="interpretation jung">
                    <h3>Carl Jung</h3>
                    <p>Jung interpreted dreams as messages from the collective unconscious, containing universal symbols for self-understanding.</p>
                </div>
                <div class="interpretation hall">
                    <h3>Calvin Hall</h3>
                    <p>Hall's approach considered dreams as reflections of a person's identity and life, akin to waking thoughts.</p>
                </div>
                <div class="interpretation domhoff">
                    <h3>William Domhoff</h3>
                    <p>Domhoff viewed dreams as narratives that mirror our waking concerns and interests, an extension of waking life.</p>
                </div>
            </div>
            <div class="themes">
                <h2>Imagery</h2>
                <p class ="themes imagery-text"> Dreams work in images so visual imagery of dreams can help with understanding by providing a concrete form to abstract concepts.</p>
                <div class ="images">
                    <img class="dream-image" src="images/img2.png" alt="Dalle Image">
                </div> 
            </div>
        </section>
    </div> 
    <script src="/js/app.js"></script>
</body>
</html>