html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
    font-family: Inter, sans-serif;
    color: #00084D;
    background-color: #FCFCFD;
    max-width: 1648px;
    padding-bottom: 40px;
  }
  
  header {
    padding-top: 24px;
    padding-left: 40px;
  }
  
  .hero {
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center center;
    width: 100vw;
  }
  
  h1 {
    padding-top: 64px;
    padding-bottom: 64px;
    width: 800px;
    margin: 0 auto;
  }
  
  h2 {
      padding: 0;
    margin: 0;
  }
  
  p {
    color: #656993;
    line-height: 24px;
    font-size: 16px;
      padding: 0;
    margin: 0;
  }
  
  .header-text {
    /* max-width: 800px; */
    /* margin: 0 auto; */
    width: 1650px;
  }
  
  .logo {
    width: 100px;
  }
  
  .dream-input {
      width: 800px;
      margin: 0 auto;
      /* position: relative; */
  }
  
  .dream-input input {
    border-radius: 60px;
    border: 1px solid #F0F1FF;
    box-shadow: 7.85181px 5.23454px 62.81452px 2.61727px rgba(38, 38, 38, 0.04);
    width: 800px;
    font-size: 16px;
    padding: 18px;
    margin: -34px auto 32px auto;
    color: #00084D;
  }
  
  
  input::placeholder {
    color: #B3B5C9;
    opacity: 1;
  }
  
  input:focus {
    border-color: #7280FE;
  }
  
  h3 {
    font-size: 20px;
    line-height: 24px;
    padding: 0;
    margin: 0;
  }
  
  .themes h2 {
    padding-bottom: 8px;
  }
  
  .dream-analysis {
    width: 800px;
    margin: 0 auto;
  }
  
  .interpretations {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .interpretation-reason {
    padding-bottom: 24px;
  }
  
  .interpretation {
    width: 800px;
    margin-bottom: 16px;
    padding: 24px;
    border-radius: 4px;
    border-radius: 5px;
    border: 1px solid #F0F1FF;
    background: #FFF;
    box-shadow: 7.85181px 5.23454px 62.81452px 2.61727px rgba(38, 38, 38, 0.04);
  }
  
  .interpretations h2 {
    padding-bottom: 8px;
  }
  
  .interpretation p {
      padding-top: 8px;
  }
  
  .themes img {
    width: 512px;
    height: 512px;
    padding-bottom: 16px;
    border-radius: 4px;
    padding-right: 24px;
  }
  
  .images {
    display: flex;
    flex-direction: row;
  } 
  
  .imagery-text {
    padding-bottom: 24px;
  }
  
  h1 {
    font-size: 40px;
    line-height: 48px;
    text-align: left;
    font-weight: bold;
    margin: 0 auto;
    max-width: 1190px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
  }

  h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
  }
  
/* Tablet devices (portrait and landscape) ----------- */
@media only screen and (min-width: 800px) and (max-width: 1600px) {
  
  .hero {
      /* Adjustments for the hero section on tablets */
      padding: 20px; /* Example adjustment */
      background-size: cover; /* Ensure full background coverage */
      width: 100%;
  }

  .header-text {
    width: 100%;
  }

  .header-text h1 {
      /* Decrease the font size for the header text on tablets */
      font-size: 32px; /* Example size, adjust as needed */
  }

  .dream-input input[type="search"] {
      /* Adjust the size and padding of the search input field */
      font-size: 16px; /* Larger font for easier reading */
      padding: 10px; /* More padding for better touch interaction */
      width: 90%; /* Adjust width to fit tablet screens */
      margin: 0 auto 24px 24px;
  }

  .interpretation {
      /* Adjust the layout for individual interpretation sections */
      margin-bottom: 20px; /* Add space between sections */
  }

  .dream-image {
      /* Adjust image sizes for tablets */
      width: 320PX;
      height: auto; /* Maintain aspect ratio */
  }
  header {
    padding-left: 0;
  }
}

/* Mobile devices ----------- */
@media only screen and (min-width: 600px) and (max-width: 800px) {

  h1 {
    padding-top: 32px;
    padding-bottom: 24px;
  }

  .hero {
      /* Adjustments for the hero section on mobile */
      padding: 15px;
      background-size: contain; /* Change if needed to best fit mobile screens */
  }

  body {
    padding: 24px;
  }

  .header-text h1 {
      /* Further decrease the font size for mobile */
      font-size: 24px;
  }

  .dream-input input[type="search"] {
      /* Further adjustments for the search input on mobile */
      font-size: 14px;
      padding: 8px;
      width: 100%; /* Make use of the full width on mobile */
      margin: 0 auto 24px 24px;
  }

  .interpretation {
    width: 600px;
  }
}

@media only screen and (max-width: 900px) {

  .dream-analysis .dream-analysis .interpretations .interpretation .dream-input {
    /* Adjust for a single column layout on mobile */
    width: 96vw !important;
    padding-left: 24px;
    padding-right: 24px;
}

.interpretation {
  width: 400px;
}

.interpretations {
  padding-left: 24px;
}

.themes {
  padding-left: 24px;
  padding-right: 24px;
}

.themes p {
  padding-left: 0;
  width: 320px;
}

.themes {
  padding-left: 24px;
}

.interpretation-reason {
  padding-left: 0;
  width: 320px;
}

.hero {
  background-image: none !important;
}

header {
  padding-left: 0;
  padding-top: 0;
}

.header-text {
  width: 96vw !important;
  padding-left: 0;
}

.dream-input input {
  margin: 0 0 48px 16px;
}

.dream-input {
  margin: 0 !important;
}



}

@media only screen and (max-width: 600px) {
  header {
    padding-left: 24px;
    padding-top: 32px;
  }

  .header-text {
    padding-left: 24px;
  }

  .header-text h1 {
    padding-top: 56px;
    padding-bottom: 40px;
  }

  .dream-input {
    margin-bottom: 40px;
    width: 320px;
  }

  .dream-input input {
    width: 320px;
  }

  .interpretation {
    width: 320px;
  }

  .themes img {
    width: 320px;
    height: auto;
  }
  
  .header-text h1 {
    font-size: 32px;
  }

  .interpretations h2 {
    font-size: 24px;
  }

  .themes h2 {
    font-size: 24px;
  }
}
